.home{
    background-color: var(--marrom);
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 20px;
}

.foto-capa{
    width: 100%;
}


.section-1{
    display: flex;
    flex-direction: column;
    background-color: var(--marrom);
    border-radius:  200px 200px 0px 0px;
}

.faixa{
    background-color: #000;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-size: 30px;
    font-weight: bold;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faixa::after{
    content: ""; /* Remova o "url" para usar o conteúdo gerado pelo CSS */
    background-image: url("estrela.png");
    background-size: 30px 30px; /* Ajuste o tamanho conforme necessário */
    display: inline-block; /* Permite ajustar o tamanho com width e height */
    width: 30px; /* Defina a largura desejada */
    height: 30px; /* Defina a altura desejada */
    margin-left: 20px; /* Adicione margem à direita, se necessário */
}
.faixa::before{
    content: ""; /* Remova o "url" para usar o conteúdo gerado pelo CSS */
    background-image: url("estrela.png");
    background-size: 30px 30px; /* Ajuste o tamanho conforme necessário */
    display: inline-block; /* Permite ajustar o tamanho com width e height */
    width: 30px; /* Defina a largura desejada */
    height: 30px; /* Defina a altura desejada */
    margin-right: 20px; /* Adicione margem à direita, se necessário */
}



@media (min-width:1000px) and (max-width:1280px) {

    .foto-PSIFlavia{
        width: 150px;
        height: 100px;
    }
}


@media (min-width:320px) and (max-width:480px){
    .faixa{
        padding: 5px 0;
        font-size: 15px;
    }
}