.home {
    background-color: var(--marrom);
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    overflow-x: hidden;
}

.faixa {
    background-color: #000;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-size: 30px;
    font-weight: bold;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faixa::after {
    content: "";
    background-image: url("../../public/seta-faixa.png");
    background-size: 55px 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-left: 20px;
    margin-left: 25px;
    transform: rotate(180deg);
}

.faixa::before {
    content: "";
    background-image: url("../../public/seta-faixa.png");
    background-size: 55px 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-right: 20px;
    margin-right: 25px;

}


@media (min-width:270px) and (max-width:359px) {
    .faixa {
        padding: 5px 0;
        font-size: 10px;
    }

    .faixa::before {
        content: "";
        background-image: url("../../public/seta-faixa.png");
        background-size: 25px 15px;
        display: inline-block;
        width: 15px;
        height: 15px;
        padding-right: 10px;
        margin-right: 10px;
    }

    .faixa::after {
        content: "";
        background-image: url("../../public/seta-faixa.png");
        background-size: 25px 15px;
        display: inline-block;
        width: 15px;
        height: 15px;
        padding-left: 10px;
        margin-left: 10px;
    }
}

@media (min-width:360px) and (max-width:420px) {
    .faixa {
        padding: 5px 0;
        font-size: 15px;
    }

    .faixa::before {
        content: "";
        background-image: url("../../public/seta-faixa.png");
        background-size: 25px 15px;
        display: inline-block;
        width: 15px;
        height: 15px;
        padding-right: 10px;
        margin-right: 10px;
    }

    .faixa::after {
        content: "";
        background-image: url("../../public/seta-faixa.png");
        background-size: 25px 15px;
        display: inline-block;
        width: 15px;
        height: 15px;
        padding-left: 10px;
        margin-left: 10px;
    }

}

@media (min-width:421px) and (max-width:480px) {
    .faixa {
        padding: 15px 0;
        font-size: 18px;
    }

    .faixa::after {
        content: "";
        background-image: url("../../public/seta-faixa.png");
        background-size: 35px 20px;
        display: inline-block;
        width: 25px;
        height: 20px;
        padding-left: 10px;
        margin-left: 10px;
        transform: rotate(180deg);
    }

    .faixa::before {
        content: "";
        background-image: url("../../public/seta-faixa.png");
        background-size: 35px 20px;
        display: inline-block;
        width: 25px;
        height: 20px;
        padding-right: 10px;
        margin-right: 10px;

    }
}

@media (min-width:481px) and (max-width:620px) {
    .faixa {
        padding: 15px 0;
        font-size: 18px;
    }

    .faixa::after {
        content: "";
        background-image: url("../../public/seta-faixa.png");
        background-size: 40px 20px;
        display: inline-block;
        width: 30px;
        height: 20px;
        padding-left: 10px;
        margin-left: 10px;
        transform: rotate(180deg);
    }

    .faixa::before {
        content: "";
        background-image: url("../../public/seta-faixa.png");
        background-size: 40px 20px;
        display: inline-block;
        width: 30px;
        height: 20px;
        padding-right: 10px;
        margin-right: 10px;

    }
}

@media (min-width:621px) and (max-width:768px) {
    .faixa {
        padding: 15px 0;
        font-size: 18px;
    }

    .faixa::after {
        content: "";
        background-image: url("../../public/seta-faixa.png");
        background-size: 40px 20px;
        display: inline-block;
        width: 30px;
        height: 20px;
        padding-left: 10px;
        margin-left: 20px;
        transform: rotate(180deg);
    }

    .faixa::before {
        content: "";
        background-image: url("../../public/seta-faixa.png");
        background-size: 40px 20px;
        display: inline-block;
        width: 30px;
        height: 20px;
        padding-right: 10px;
        margin-right: 20px;

    }
}

@media (min-width:769px) and (max-width:1024px) {
    .faixa {
        padding: 15px 0;
        font-size: 22px;
        margin-top: 25px;
    }

    .faixa::after {
        content: "";
        background-image: url("../../public/seta-faixa.png");
        background-size: 40px 20px;
        display: inline-block;
        width: 30px;
        height: 20px;
        padding-left: 10px;
        margin-left: 20px;
        transform: rotate(180deg);
    }

    .faixa::before {
        content: "";
        background-image: url("../../public/seta-faixa.png");
        background-size: 40px 20px;
        display: inline-block;
        width: 30px;
        height: 20px;
        padding-right: 10px;
        margin-right: 20px;

    }
}

@media (min-width:1025px) and (max-width:1200px) {
    .faixa {
        padding: 15px 0;
        font-size: 25px;
    }

    .faixa::after {
        content: "";
        background-image: url("../../public/seta-faixa.png");
        background-size: 45px 25px;
        display: inline-block;
        width: 35px;
        height: 25px;
        padding-left: 10px;
        margin-left: 25px;
        transform: rotate(180deg);
    }

    .faixa::before {
        content: "";
        background-image: url("../../public/seta-faixa.png");
        background-size: 45px 25px;
        display: inline-block;
        width: 35px;
        height: 25px;
        padding-right: 10px;
        margin-right: 25px;
    }

}