.card{
    background-color: rgb(32, 32, 32);
    margin: 10px;
    padding: 10px;
    width: 300px;
    flex: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-card{
    font-size: 40px;
    font-weight: bolder;
   
    margin-bottom: 10px;
}

.descricao-card{
    margin-bottom: 10px;
}