.carrossel{
    margin-top: 40px;
    align-self: center;
    border-radius: 10px;
    padding: 50px;
    width: 45%;
    display: flex ;
    flex-direction: column;
    
}

.conteudo-carrossel{
    display: flex;
    overflow-x: auto;
    scroll-behavior:smooth;
    margin-top: 20px;
}

.conteudo-carrossel::-webkit-scrollbar{
    display: none;
}

.buttons button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.buttons button:first-child img{
    transform: rotate(180deg);
}

.buttons{
    align-self: center;
}
