.header{
    background-color: var(--verde-secundario);
    height: 5vh;
    width: 100vw;
}

.navbar{
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}