.lista{
    padding: 50px;
    list-style: none;   
}

.lista .item{
    color: var(--marrom);
    font-weight: bold;
    font-size: 30px;
    background-color: var(--verde-principal);
    margin: 5px;
    padding: 15px;
    border-radius: 50px;
}
.lista .item::before{
    content: ""; /* Remova o "url" para usar o conteúdo gerado pelo CSS */
    background-image: url("bola.png");
    background-size: 15px 15px; /* Ajuste o tamanho conforme necessário */
    display: inline-block; /* Permite ajustar o tamanho com width e height */
    width: 15px; /* Defina a largura desejada */
    height: 15px; /* Defina a altura desejada */
    margin-right: 10px;
}

@media (min-width:320px) and (max-width:480px){
    .lista{
        padding: 20px;
        list-style: none;   
    }
    .lista .item{
        font-size: 20px;
        padding: 10px;
        
    }

}
