.lista {
    padding: 50px;
    list-style: none;
}

.lista .item {
    color: var(--marrom);
    font-weight: bold;
    font-size: 30px;
    background-color: var(--verde-principal);
    margin: 5px;
    padding: 15px;
    border-radius: 50px;
    
}

.lista .item::before {
    content: "";
    background-image: url("../../public/bola.png");
    background-size: 15px 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

@media (min-width:270px) and (max-width:359px) {
    .lista {
        padding: 10px;
        list-style: none;
    }

    .lista .item {
        font-size: 15px;
        padding: 10px;
    }
}

@media (min-width:360px) and (max-width:420px) {
    .lista {
        padding: 20px;
        list-style: none;
    }

    .lista .item {
        font-size: 20px;
        padding: 8px;
    }
}

@media (min-width:421px) and (max-width:480px) {
    .lista {
        padding: 20px;
        list-style: none;
    }

    .lista .item {
        font-size: 20px;
        padding: 10px;

    }
}

@media (min-width:481px) and (max-width:620px) {
    .lista {
        padding: 20px;
        list-style: none;
    }

    .lista .item {
        font-size: 20px;
        padding: 10px;

    }
}

@media (min-width:621px) and (max-width:768px) {
    .lista {
        padding: 20px;
        list-style: none;
    }

    .lista .item {
        font-size: 20px;
        padding: 10px;

    }
}

@media (min-width:769px) and (max-width:1024px) {
    .lista {
        padding: 20px;
        list-style: none;
    }

    .lista .item {
        font-size: 25px;
        padding: 15px;

    }
}

@media (min-width:1025px) and (max-width:1200px) {}