:root{
  --verde-principal: #e2f0cc;
  --verde-secundario: #97b670;
}

*{
  padding: 0;
  margin: 0;
  color: var(--verde-secundario);
    
}

body{
  overflow-x: hidden;
}

button:focus{
  outline: none;
}
