:root {
  --verde-principal: #e2f0cb;
  --marrom: #a34c0e;
  --cinza: #bcccc2;
  --rosinha: #c57456;
  --amarelo: #ecc071;
  --branco: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


button:focus {
  outline: none;
}